<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<connectionStrings>
		<add name="EmployeeDB" connectionString="data source = DESKTOP-TIC5DM4; database = Employees; integrated security = SSPI;"/>
	</connectionStrings>
</configuration>
