<div class="container shadow-lg p-5">
  <h3 class="row">Create Employee</h3>
  <form
    class="container"
    action=""
    [formGroup]="employeeForm"
    (ngSubmit)="saveEmployee(employeeForm)"
  >
    <div class="row">
      <div class="col">
        <div class="form-floating mb-3">
          <input
            required
            type="text"
            class="form-control"
            id="firstname"
            name="firstname"
            formControlName="firstname"
          />
          <label for="fName">First Name</label>
          <span
            style="color: red"
            *ngIf="
              employeeForm.controls['firstname'].touched &&
              employeeForm.controls['firstname'].hasError('required')
            "
            >First Name is required</span
          >
        </div>
      </div>
      <div class="col">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="middlename"
            name="middlename"
            formControlName="middlename"
          />
          <label for="middlename">Middle Name</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-floating mb-3">
          <input
            required
            type="text"
            class="form-control"
            id="lastname"
            name="lastname"
            formControlName="lastname"
          />
          <label for="lastname">Last Name</label>
          <span
            style="color: red"
            *ngIf="
              employeeForm.controls['lastname'].touched &&
              employeeForm.controls['lastname'].hasError('required')
            "
            >Last Name is required</span
          >
        </div>
      </div>
      <div class="col">
        <div class="form-floating mb-3">
          <input
            required
            type="text"
            class="form-control"
            id="age"
            name="age"
            formControlName="age"
          />
          <label for="age">Age</label>
          <span
            style="color: red"
            *ngIf="
              employeeForm.controls['age'].touched &&
              employeeForm.controls['age'].hasError('max')
            "
            >Age should be less than 100</span
          >
        </div>
      </div>
      <div class="col">
        <div class="form-check">
          <input
            required
            class="form-check-input"
            type="radio"
            name="gender"
            id="Male"
            value="Male"
            formControlName="gender"
          />
          <label class="form-check-label" for="Male"> Male </label>
        </div>
        <div class="form-check">
          <input
            required
            class="form-check-input"
            type="radio"
            name="gender"
            id="Female"
            value="Female"
            formControlName="gender"
          />
          <label class="form-check-label" for="Female"> Female </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <select
          required
          class="form-select"
          aria-label="Default select example"
          name="country"
          formControlName="country"
        >
          <option value="USA">USA</option>
          <option value="UK">UK</option>
          <option value="Canada">Canada</option>
          <option value="Australia">Australia</option>
          <option value="Germany">Germany</option>
          <option value="France">France</option>
          <option value="Spain">Spain</option>
          <option value="Mexico">Mexico</option>
          <option value="Italy">Italy</option>
        </select>
        <span
          style="color: red"
          *ngIf="
            employeeForm.controls['country'].touched &&
            employeeForm.controls['country'].hasError('required')
          "
          >Country is required</span
        >
      </div>
      <div class="col">
        <div class="form-floating mb-3">
          <input
            required
            type="text"
            class="form-control"
            id="phonenumber"
            name="phonenumber"
            formControlName="phonenumber"
          />
          <label for="phonenumber">Phone Number</label>
          <span
            style="color: red"
            *ngIf="
              employeeForm.controls['phonenumber'].touched &&
              employeeForm.controls['phonenumber'].hasError('required')
            "
            >Phone Number is required</span
          >
        </div>
      </div>
      <div class="col">
        <div class="form-floating mb-3">
          <input
            required
            type="date"
            class="form-control"
            id="dob"
            name="dob"
            formControlName="dob"
          />
          <label for="dob">Date of Birth</label>
          <span
            style="color: red"
            *ngIf="
              employeeForm.controls['dob'].touched &&
              employeeForm.controls['dob'].hasError('required')
            "
            >DOB is required</span
          >
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <button type="submit" class="btn btn-success">Add Employee</button>
      </div>
    </div>
  </form>
</div>
