<div class="container shadow-lg p-5 mb-5">
  <h1 class="row mb-5">Employee List</h1>
  <table class="table table-bordered border-primary">
    <thead>
      <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Gender</th>
        <th>Phone Number</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employeeList">
        <td>{{ employee.id }}</td>
        <td>{{ employee.firstname }}</td>
        <td>{{ employee.gender }}</td>
        <td>{{ employee.phonenumber }}</td>
        <td>
          <a routerLink="/employee/{{ employee.id }}">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
