<div class="container shadow-lg p-5" *ngIf="employee">
  <h3 class="row">Edit Employee</h3>
  <form
    class="container"
    action=""
    #employeeForm="ngForm"
    (ngSubmit)="saveEmployee(employeeForm)"
  >
    <div class="row">
      <div class="col">
        <div class="form-floating mb-3">
          <input
            required
            type="number"
            class="form-control"
            id="Id"
            name="id"
            [(ngModel)]="employee.id"
            #empId="ngModel"
          />
          <label for="Id">Employee Id</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating mb-3">
          <input
            required
            type="text"
            class="form-control"
            id="fName"
            name="fName"
            [(ngModel)]="employee.fName"
            #fName="ngModel"
          />
          <label for="fName">First Name</label>
          <span style="color: red" *ngIf="fName.touched && fName.invalid"
            >First Name is Required</span
          >
        </div>
      </div>
      <div class="col">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="mName"
            name="mName"
            [(ngModel)]="employee.mName"
          />
          <label for="mName">Middle Name</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-floating mb-3">
          <input
            required
            type="text"
            class="form-control"
            id="lName"
            name="mname"
            [(ngModel)]="employee.lName"
            #lName="ngModel"
          />
          <label for="lName">Last Name</label>
          <span style="color: red" *ngIf="lName.touched && lName.invalid"
            >Last Name is Required</span
          >
        </div>
      </div>
      <div class="col">
        <div class="form-floating mb-3">
          <input
            required
            type="text"
            class="form-control"
            id="Age"
            name="Age"
            [(ngModel)]="employee.Age"
            #age="ngModel"
          />
          <label for="Age">Age</label>
          <span style="color: red" *ngIf="age.touched && age.invalid"
            >Age is Required</span
          >
        </div>
      </div>
      <div class="col">
        <div class="form-check">
          <input
            required
            class="form-check-input"
            type="radio"
            name="Gender"
            id="Male"
            value="Male"
            [(ngModel)]="employee.Gender"
          />
          <label class="form-check-label" for="Male"> Male </label>
        </div>
        <div class="form-check">
          <input
            required
            class="form-check-input"
            type="radio"
            name="Gender"
            id="Female"
            value="Female"
            [(ngModel)]="employee.Gender"
          />
          <label class="form-check-label" for="Female"> Female </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <select
          required
          class="form-select"
          aria-label="Default select example"
          name="Country"
          [(ngModel)]="employee.Country"
        >
          <option selected>Open this select menu</option>
          <option value="USA">USA</option>
          <option value="UK">UK</option>
          <option value="Canada">Canada</option>
          <option value="Australia">Australia</option>
          <option value="Germany">Germany</option>
          <option value="France">France</option>
          <option value="Spain">Spain</option>
          <option value="Mexico">Mexico</option>
          <option value="Italy">Italy</option>
        </select>
      </div>
      <div class="col">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="isExperienced"
            [(ngModel)]="employee.isExperienced"
            name="isExperienced"
          />
          <label class="form-check-label" for="isExperienced">
            Is Experienced
          </label>
        </div>
      </div>
      <div class="col d-flex gap-2">
        <label for="experience" class="form-label">Experience</label>
        <input
          type="range"
          class="form-range"
          id="experience"
          [(ngModel)]="employee.Experience"
          name="Experience"
        />
      </div>
    </div>
    <div class="row mt-3">
      <div class="col col-4">
        <div class="form-floating mb-3">
          <input
            emailValidator
            type="email"
            class="form-control"
            id="email"
            name="email"
            [(ngModel)]="employee.email"
            #email="ngModel"
          />
          <label for="fName">Email</label>
          <span
            style="color: red"
            *ngIf="
              email.touched &&
              employeeForm.controls['email']?.hasError('invalid-email')
            "
            >domain is invalid</span
          >
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <button type="submit" class="btn btn-success">Edit</button>
      </div>
    </div>
  </form>
</div>
